# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
env/
.venv/
venv/

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Docker
*.log
docker-compose.override.yml

# VSCode
.vscode/

# MacOS
.DS_Store

# Pytest
.cache/

# Jupyter Notebook
.ipynb_checkpoints/
# SSH Keys
hatzner
hatzner.pub
*.pem
*.key


/.env